{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard</title>

    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />


    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="sb-topnav navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Navbar Brand-->
            
                <div class="container px-5">
                    <a class="navbar-brand" href="">
                        <img height="50px" src="{% static 'assets/it_serv_logo.png' %}" alt="..." />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="EmployeeDashboard">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="FraudView">Fraud Instances</a></li>
                            <li class="nav-item"><a class="nav-link" href="AccountInfo">Contact</a></li>
                            <li class="nav-item"><a class="nav-link" href="logout">Logout</a></li>
        
                        </ul>
                    </div>
                </div>
         
        
    </nav>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4"> General Employee Information</h3>
                    </div>
                    <div class="card-body">
                        <h6><strong>Name:</strong> {{first_name}} {{last_name}}</h6>
                        <h6><strong>Employee Id:</strong> {{ID}}</h6>
                        <h6><strong>Email:</strong> {{email}}</h6>
                        <h6><strong>Department:</strong> {{Department}}</h6>
                        <h6><strong>Job Role:</strong> {{JobRole}}</h6>
                        <h6><strong>Business Travels:</strong> {{BusinessTravel}}</h6>
                        <h6><strong>Number of Companies Worked:</strong> {{CompaniesWorked}}</h6>
                    </div>
                    
                   
                </div>
            </div>
        </div>
        
        
        
        </div>
    </div>
</body>
</html>