{% extends '/home/minyar/DjangoProj/loginapp/templates/loginapp/side_nav.html' %}
{% load static %}
{% block content %}
<style>
    .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

</style>
<div class="  rounded-lg mt-5 ml-5 px-5" >
    <div class="card-header">
<h1 class="text-center font-weight-light my-4"> Change Attendance Status </h1>
</div>
<div class="card-body">
<table>
    <tr> 
        <th> Name </th>
        <th> Date </th>
        <th> Is fraud </th>
    </tr>
    <tr>
        <th> {{employee.Name}} {{employee.LastName}} </th>
        <th> {{day}} / {{month}} / 2015 </th>
        <th> <label class="switch">
            <input type="checkbox" id="fraudToggle" {% if attendance.is_fraud %} checked {% endif %} onchange="toggleFraud()">
            <span class="slider round"></span>
        </label> </th>
    </tr>
</table>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    function toggleFraud() {
        var checkBox = document.getElementById("fraudToggle");
        var isFraud = checkBox.checked;
        var employeeId = '{{ employee.EmployeeId }}';
        var selectMonth = '{{month}}';
        var day = '{{ day }}';
        
        // Send AJAX request
        $.ajax({
            url: '{% url "update_fraud_status" %}',
            type: 'POST',
            data: {
                'employee_id': employeeId,
                'selected_month': selectMonth,
                'day': day,
                'is_fraud': isFraud,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function(response) {
                if (response.success) {
                    console.log('Fraud status updated successfully');
                } else {
                    console.error('Error updating fraud status:', response.error);
                }
            },
            error: function(xhr, status, error) {
                console.error('AJAX request failed:', error);
            }
        });
    }
    </script>
{% endblock %}