{% extends '/home/minyar/DjangoProj/loginapp/templates/loginapp/side_nav.html' %}
{% load static %}
{% block content %}
            <main class="flex-shrink-0" style="padding :40px;">
                <div class="container-fluid px-4 " >
                    <div class="card mb-4">
                        <div class="row g-3 " style="padding: 20px">
                            <div class="col">
                               
                            </div>
                            <div class="col">
                                <form id="month-form" method="POST" action="{% url 'charts' %}">
                                    {% csrf_token %}
                                    <select id="month" name="month" class="form-select" aria-label="Default select example">
                                        <option value="" {% if not selected_month %}selected{% endif %}>Select Month</option>
                                        <option value="1" {% if selected_month == '1' %}selected{% endif %}>January</option>
                                        <option value="2" {% if selected_month == '2' %}selected{% endif %}>February</option>
                                        <option value="3" {% if selected_month == '3' %}selected{% endif %}>March</option>
                                        <option value="4" {% if selected_month == '4' %}selected{% endif %}>April</option>
                                        <option value="5" {% if selected_month == '5' %}selected{% endif %}>May</option>
                                        <option value="6" {% if selected_month == '6' %}selected{% endif %}>June</option>
                                        <option value="7" {% if selected_month == '7' %}selected{% endif %}>July</option>
                                        <option value="8" {% if selected_month == '8' %}selected{% endif %}>August</option>
                                        <option value="9" {% if selected_month == '9' %}selected{% endif %}>September</option>
                                        <option value="10" {% if selected_month == '10' %}selected{% endif %}>October</option>
                                        <option value="11" {% if selected_month == '11' %}selected{% endif %}>November</option>
                                        <option value="12" {% if selected_month == '12' %}selected{% endif %}>December</option>
                                    </select>
                            </div>
                           
                        </div>
                        </form>
                        <div id="chart-container">
                            {% csrf_token %}
                        <!-- Display the chart -->
                        {{ chart | safe }}
</div>
                    </div>
                </div>
            </main>
            
   
{% endblock %}