{% extends '/home/minyar/DjangoProj/loginapp/templates/loginapp/HRbase.html' %}
{% block main_content  %}
<div class="container" style="padding: 10px; position: relative; color: rgb(252, 151, 19);">
   <h1> DataBase Overview </h1>
</div>
    <div class="container " >
        <div class="card mb-1">
            <div class="card-header">
                
                    <i class="fas fa-table me-1"></i>General Information about employees:
                
                
            </div>
            <div class="card-body">

                <table>
                    <thead>
                        <tr>
                            {% for column in csv_content_general_info.columns %}
                            <th>{{ column }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in csv_content_general_info.iterrows %}
                        <tr>
                            {% for value in row %}
                            <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            <div class="card-footer">
                <div class="col text-center">
                    <form method="post" enctype="multipart/form-data" class="d-inline">
                        {% csrf_token %}
                        
                            {{ form_general_info.as_p }}
                            <button class="btn btn-primary" type="submit">Upload New File</button>
                       
                    </form>
                   
                    <p style="color: red;">{{message}}</p>
                   
                </div>
            </div>
        </div>
        <br>
        <div class="card mb-1">
            <div class="card-header">
                
                    <i class="fas fa-table me-1"></i>Employees Survey:
                
                
            </div>
            <div class="card-body">

                <table>
                    <thead>
                        <tr>
                            {% for column in csv_content_survey.columns %}
                            <th>{{ column }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in csv_content_survey.iterrows %}
                        <tr>
                            {% for value in row %}
                            <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            <div class="card-footer">
                <div class="col text-center">
                    <form method="post" enctype="multipart/form-data" class="d-inline">
                        {% csrf_token %}
                        
                            {{ form_survey.as_p }}
                            <button class="btn btn-primary" type="submit">Upload New File</button>
                       
                    </form>
                    <p style="color: red;">{{message2}}</p>
                </div>
            </div>
        </div>
        <br>
        <div class="card mb-1">
            <div class="card-header">
                
                    <i class="fas fa-table me-1"></i>Attendance Records:
                
                
            </div>
            <div class="card-body">

                <table>
                    <thead>
                        <tr>
                            {% for column in csv_content_attendance.columns %}
                            <th>{{ column }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in csv_content_attendance.iterrows %}
                        <tr>
                            {% for value in row %}
                            <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            <div class="card-footer">
                <div class="col text-center">
                    <form method="post" enctype="multipart/form-data" class="d-inline">
                        {% csrf_token %}
                        
                            {{ form_attendance.as_p }}
                            <button class="btn btn-primary" type="submit">Upload New File</button>
                       
                    </form>
                    <p style="color: red;">{{message3}}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}