{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard</title>

    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />


    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="sb-topnav navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Navbar Brand-->
            
                <div class="container px-5">
                    <a class="navbar-brand" href="">
                        <img height="50px" src="{% static 'assets/it_serv_logo.png' %}" alt="..." />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="EmployeeDashboard">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="FraudView">Fraud Instances</a></li>
                            <li class="nav-item"><a class="nav-link" href="AccountInfo">Account Info</a></li>
                            <li class="nav-item"><a class="nav-link" href="logout">Logout</a></li>
        
                        </ul>
                    </div>
                </div>
         
        
    </nav>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4"> Welcome {{first_name}} {{last_name}}</h3>
                    </div>
                    <div class="card-body">
                        <form id="month-form" method="GET" action="{% url 'EmployeeDashboard' %}">
                            <select id="month" name="month" class="form-select" aria-label="Default select example">
                                <option value="" {% if not selected_month %}selected{% endif %}>Select Month</option>
                                <option value="1" {% if selected_month == '1' %}selected{% endif %}>January</option>
                                <option value="2" {% if selected_month == '2' %}selected{% endif %}>February</option>
                                <option value="3" {% if selected_month == '3' %}selected{% endif %}>March</option>
                                <option value="4" {% if selected_month == '4' %}selected{% endif %}>April</option>
                                <option value="5" {% if selected_month == '5' %}selected{% endif %}>May</option>
                                <option value="6" {% if selected_month == '6' %}selected{% endif %}>June</option>
                                <option value="7" {% if selected_month == '7' %}selected{% endif %}>July</option>
                                <option value="8" {% if selected_month == '8' %}selected{% endif %}>August</option>
                                <option value="9" {% if selected_month == '9' %}selected{% endif %}>September</option>
                                <option value="10" {% if selected_month == '10' %}selected{% endif %}>October</option>
                                <option value="11" {% if selected_month == '11' %}selected{% endif %}>November</option>
                                <option value="12" {% if selected_month == '12' %}selected{% endif %}>December</option>
                            </select>
                            <div class="col">
                               
                            </div>
                        </form>
                    {{chart | safe }}
                        <input type="hidden" id="selected-month" name="selected_month">
                               
                </div>
                <div class="card-footer justify-content-center">
                    {% if percentage > 80 %}
                    <p style="color: red;"> You have surpassed the 80% threshold.</p>
                    <p style="color: red;"> Please contact your Human Ressouces !</p>
                    {% endif %}
                </div>
            </div>
        </div>
        
        
        
        </div>
    </div>
</body>
</html>
<script>
    // Get the select element and hidden input field
    const selectMonth = document.getElementById('month');
    const selectedMonthInput = document.getElementById('selected-month');

    // Set initial value for selected month
    selectedMonthInput.value = selectMonth.value;

    // Add event listener to update hidden input with selected month
    selectMonth.addEventListener('change', function () {
        selectedMonthInput.value = this.value;
        
        document.getElementById('month-form').submit();
    });
</script>