{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            padding-right: 5%;
        }
        .fraud {
    background-color: rgba(255, 0, 0, 0.555); /* Set background color to red */
    color: white; /* Set text color to white */
    font-weight: bold; /* Make the text bold */
    /* Add any other styling you want for the fraudulent dates */
}


    </style>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />


    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body style="width: 100%">
    <nav class="sb-topnav navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Navbar Brand-->

        <div class="container px-5">
            <a class="navbar-brand" href="">
                <img height="50px" src="{% static 'assets/it_serv_logo.png' %}" alt="..." />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="EmployeeDashboard">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="FraudView">Fraud Instances</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="logout">Logout</a></li>

                </ul>
            </div>
        </div>


    </nav>
    <div class="" style="width: 95%; padding-left: 5%;">
      
            
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4"> Fraud View</h3>
                    </div>
                    <div class="container-fluid px-4 " style="padding-top: 40px;">
                        <div class="card mb-4">
                            <div class="row g-3 " style=" padding: 20px;">
                                <div class="col">
                                        <form  id="month-form" method="GET" action="{% url 'FraudView' %}">
                                        <div class="row ">
                                            <div class="col">
                                                <select id="month" name="month" class="form-select" aria-label="Default select example">
                                                    <option value="" {% if not selected_month %} selected {% endif %}>Select Month</option>
                                                    <option value="1" {% if selected_month == '1' %} selected {% endif %}>January</option>
                                                    <option value="2" {% if selected_month == '2' %} selected {% endif %}>February</option>
                                                    <option value="3" {% if selected_month == '3' %}selected{% endif %}>March</option>
                                                    <option value="4" {% if selected_month == '4' %}selected{% endif %}>April</option>
                                                    <option value="5" {% if selected_month == '5' %}selected{% endif %}>May</option>
                                                    <option value="6" {% if selected_month == '6' %}selected{% endif %}>June</option>
                                                    <option value="7" {% if selected_month == '7' %}selected{% endif %}>July</option>
                                                    <option value="8" {% if selected_month == '8' %}selected{% endif %}>August</option>
                                                    <option value="9" {% if selected_month == '9' %}selected{% endif %}>September</option>
                                                    <option value="10" {% if selected_month == '10' %}selected{% endif %}>October</option>
                                                    <option value="11" {% if selected_month == '11' %}selected{% endif %}>November</option>
                                                    <option value="12" {% if selected_month == '12' %}selected{% endif %}>December</option>
                                                </select>
                                               
                                            </div>
                                            <div class="col">
                                            </div>
                                        </div>
                                        </form>
                                    <br>
                                    <div id ="calendar-container" style="padding-left: 100px; padding-right: 100px; ">
                                    {{cal | safe}}
                                 </div>
                                  
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
           
        



    </div>
    </div>
</body>

</html>
