{% extends '/home/minyar/DjangoProj/loginapp/templates/loginapp/side_nav.html' %}
{% load static %}
{% block content %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        padding-right: 5%;
    }
    a {
    color: black; /* Change hyperlink color to black */
    text-decoration: none; /* Remove underline */
}

a:hover {
    text-decoration: underline; /* Add underline on hover */
}
  
    .fraud {
background-color: rgba(255, 0, 0, 0.555); /* Set background color to red */
color: white; /* Set text color to white */
font-weight: bold; /* Make the text bold */
/* Add any other styling you want for the fraudulent dates */
}



</style>
            <main>
                <div class="container-fluid px-4 " style="padding-top :40px;">
                    <div class="card mb-4">

                       
                        <div class="row g-3 " style="padding-top: 20px; padding-left: 20px; padding-right: 20px;">
                            <div class="col">

                                <form id="month-form" method="GET" action="{% url 'OneEmployee' %}">
                                    <select id="month" name="month" class="form-select" aria-label="Default select example">
                                        <option value="" {% if not selected_month %}selected{% endif %}>Select Month</option>
                                        <option value="1" {% if selected_month == '1' %}selected{% endif %}>January</option>
                                        <option value="2" {% if selected_month == '2' %}selected{% endif %}>February</option>
                                        <option value="3" {% if selected_month == '3' %}selected{% endif %}>March</option>
                                        <option value="4" {% if selected_month == '4' %}selected{% endif %}>April</option>
                                        <option value="5" {% if selected_month == '5' %}selected{% endif %}>May</option>
                                        <option value="6" {% if selected_month == '6' %}selected{% endif %}>June</option>
                                        <option value="7" {% if selected_month == '7' %}selected{% endif %}>July</option>
                                        <option value="8" {% if selected_month == '8' %}selected{% endif %}>August</option>
                                        <option value="9" {% if selected_month == '9' %}selected{% endif %}>September</option>
                                        <option value="10" {% if selected_month == '10' %}selected{% endif %}>October</option>
                                        <option value="11" {% if selected_month == '11' %}selected{% endif %}>November</option>
                                        <option value="12" {% if selected_month == '12' %}selected{% endif %}>December</option>
                                    </select>
                                    <div class="col">
                                        <input type="hidden" id="selected-month" name="selected_month">
                                        <input type="hidden" id="initial-first-name" name="initial_first_name"  value="{{ initial_first_name }}" >
                                        <input type="hidden" id="initial-last-name" name="initial_last_name" value="{{ initial_last_name }}" >
                                        
                                    </div>
                                </form>

                            </div>


                        </div>
                        <form method="post">
                            {% csrf_token %}
                           <div class="row g-3 " style="padding-top: 20px; padding-left: 20px;">
                                <div class="col">

                                    <input type="text" id="FirstName" name="FirstName" class="form-control" placeholder="First Name" value="{{ initial_first_name }}">

                                </div>
                                <div class="col">
                                    <input type="text" id="LastName" name="LastName" class="form-control" placeholder="Last Name" value="{{ initial_last_name }}">

                                </div>

                                <div class="col">
                                    <button type="submit" class="btn btn-primary" id="button_post">Search Employee </button>
                                </div>

                            </div>
                        </form>

                        <div style="padding: 20px;">
                            {{message}}
                            {{chart | safe}}
                        </div>
                        <div id ="calendar-container" style="padding: 10px; ">
                            {{cal | safe}}
                         </div>


                    </div>
                </div>
            </main>

    <script>
        // Get the select element and hidden input field
        const selectMonth = document.getElementById('month');
        const selectedMonthInput = document.getElementById('selected-month');
        const selectFirstName = document.getElementById('FirstName');
        const selectLastName = document.getElementById('LastName');
        const selectedFirstNameInput = document.getElementById('initial-first-name');
        const selectedLastNameInput = document.getElementById('initial-last-name');

        const SearchButton=document.getElementById('button_post')
        // Set initial value for selected month
        selectedMonthInput.value = selectMonth.value;
    
        // Store initial values of name input fields
        
    
        // Add event listener to update hidden input with selected month
        selectMonth.addEventListener('change', function () {
            selectedMonthInput.value = this.value;
    
            // Retrieve initial values from local storage for debugging
            let initialFirstName = localStorage.getItem('initialFirstName');
            let initialLastName = localStorage.getItem('initialLastName');
           
    
            // Set the value of the hidden input fields
            selectFirstName.value = initialFirstName;
            selectLastName.value = initialLastName;
    
            document.getElementById('month-form').submit();
        });
        SearchButton.addEventListener('click', function () {
            
        let initialFirstNameValue = selectFirstName.value;
        let initialLastNameValue = selectLastName.value;
    
        // Store initial values in local storage
        localStorage.setItem('initialFirstName', initialFirstNameValue);
        localStorage.setItem('initialLastName', initialLastNameValue);
        selectedFirstNameInput.value = initialFirstNameValue;
        selectedLastNameInput.value = initialLastNameValue;
        });
    </script>
    

{% endblock %}