{% extends '/home/minyar/DjangoProj/loginapp/templates/loginapp/Base.html' %}
{% load static %}
{% block main_content  %}
    <div id="layoutAuthentication_content" class="bg-dark" style="padding: 1px;">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">Create Account</h3>
                            </div>
                            <div class="card-body">
                                <form method="POST" autocomplete="off">
                                    {% csrf_token%}
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            {{ registerform.first_name.label_tag }}
                                            {{ registerform.first_name }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ registerform.last_name.label_tag }}
                                            {{ registerform.last_name }}
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            {{ registerform.username.label_tag }}
                                            {{ registerform.username }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ registerform.email.label_tag }}
                                            {{ registerform.email }}
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            {{ registerform.password1.label_tag }}
                                            {{ registerform.password1 }}
                                            <div>
                                            <small id="password-length" class="text-muted" hidden>Password must be at least 8 characters long.</small>
                                            <small id="non-numeric" class="text-muted" hidden>Password can't be entirely numeric.</small>
                                            <small id="numeric" class="text-muted" hidden>Password can't be entirely non numeric.</small>
                                      </div>
                                        </div>
                                        <div class="col-md-6">
                                            {{ registerform.password2.label_tag }}
                                            {{ registerform.password2 }}
                                            <small id="password-match" class="text-muted" hidden>Passwords must match.</small>
  
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            {{ registerform.is_superuser.label_tag }}
                                            {{ registerform.is_superuser }}
                                        </div>
                                    </div>
                                    <div class="mt-4 mb-0">
                                        <div class="d-grid">
                                            <input class="btn btn-primary btn-block" type="submit" value="Register" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center py-3">
                                <div class="small"><a href="login">Have an account? Go to login</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>  <script>
        // Function to check if password contains at least 8 characters
        function checkPasswordLength(password) {
            return password.length >= 8;
        }

        // Function to check if password is not entirely numeric
        function containsNonNumeric(password) {
            return /\D/.test(password);
        }
        function containsNumeric(password) {
    return /\d/.test(password);
}


        // Function to display or hide password obligation messages based on input value
        function handlePasswordInput() {
            const password1 = document.getElementById('id_password1').value;
            const password2 = document.getElementById('id_password2').value;

            document.getElementById('password-length').hidden = checkPasswordLength(password1);
            document.getElementById('non-numeric').hidden = containsNonNumeric(password1);
            document.getElementById('password-match').hidden = password1 == password2;
            document.getElementById('numeric').hidden = containsNumeric(password1);
        }

        // Bind handlePasswordInput function to input event of password fields
        document.querySelectorAll('[id^=id_password]').forEach(element => {
            element.addEventListener('input', handlePasswordInput);
        });
    </script>
{% endblock %}
